.container {
    max-width: 55vw;
    min-width: 800px;
    margin: auto;
    border: white solid 5px;
    background-color: white;
}

.panel-main img, .thumbs img {
    width: 100%;
    height: auto;
}

.thumbs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.thumbs:hover {
    cursor: pointer;
}

@keyframes 
fadeIn {  
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}