.container {
    max-width: 70vw;
    min-width: 800px;
    margin: auto;
    background-color: white;
}

#primary-slider .splide__slide {
    text-align: center;
}

.splide__slide img {
	width : auto;
    height: 100%;
}