@import "main.css";
@import "nav.css";

.projects {
  width: 90%;
  height: max-content;
  margin: 12px auto;

  padding: 12px;
}

.projects__heading {
  position: relative;
  padding: 0;
  width: fit-content;

  font-family: var(--logo-font);
  font-size: 48px;
  font-weight: 700;
  color: var(--black);

  text-align: center;

  padding-bottom: 2px;
  margin: 0 auto;
}

.projects__grid {
  display: grid;

  width: 90%;
  height: max-content;
  margin: 24px auto;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.projects__project {
  width: 100%;
  height: max-content;

  box-shadow: 1px 1px 4px 1px rgba(90, 84, 84, 0.226);
  border-radius: 24px;
}

.projects__project-img-container {
  width: 100%;
  height: 280px;

  border-radius: 24px;
}

.projects__project-img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 24px;
}

.projects__project-details {
  width: 95%;
  margin: 16px auto;
}

.projects__project-name {
  font-family: var(--logo-font);
  font-size: 20px;

  margin: 8px 16px;
}

.projects__project-description {
  font-family: var(--primary-font);
  font-size: 14px;

  text-align: justify;

  margin: 8px 16px;
}

.projects__project-links {
  margin: 12px 16px;
}

.projects__project-links > * {
  margin: 4px;
}

.projects__project-links img {
  height: 28px;
  width: 28px;
}

@media (max-width: 1024px) {
  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
  .projects__heading {
    font-size: 36px;
  }
}

@media (max-width: 650px) {
  .projects__project-links img {
    height: 24px;
    width: 24px;
  }

  .projects__grid {
    grid-template-columns: 1fr;
    gap: 16px;

    width: 100%;
  }

  .projects__heading {
    font-size: 30px;
  }
}
